.wrapper{
    display: flex;
    justify-content: center;
    background-color: black;
}
/* .container{
    width: 70%;
} */
.container--sticky-header {
    display: flex;
    justify-content: center;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    background-color: black;
}

.wrapper--stuck .container--product-top{
    top: 60px  !important;
}

.wrapper--product-top{
    background-color: #fff;
    
}

.container--product-top{
    background-color: #fff;
    width: 100%;
}


/* 
vtex-sticky-layout-0-x-wrapper vtex-sticky-layout-0-x-wrapper--product-top
vtex-sticky-layout-0-x-wrapper vtex-sticky-layout-0-x-wrapper--product-top vtex-sticky-layout-0-x-wrapper--stuck vtex-sticky-layout-0-x-wrapper--product-top--stuck

vtex-sticky-layout-0-x-container vtex-sticky-layout-0-x-container--product-top z-999 relative left-0 right-0
vtex-sticky-layout-0-x-container vtex-sticky-layout-0-x-container--product-top z-999 fixed left-0 right-0
*/