.newsletterForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F5F9;
    align-self: center;
}

.formSubmitContainer :global(.vtex-button){
    background-color: #5787F4;
    text-transform: none;
    font-size: 12px;
    width: 138px;
}

/* .emailInputContainer--prueba{
    width: 430px;
} */