.link--link-centro-ayuda{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    padding-right: 13px;
}

.label--link{
    text-decoration: none !important;
    margin-left: 10px;
}

.link--footer-link{
    font-size: 12px;
    color: #e4e7eb;
    text-decoration: none;
    line-height: 23px;
    transition: all 0.25s;
}
.link--footer-link:hover{
    color: #83838f;
}