.caretIcon{
    color: #4572ED;
}

.term{
    font-size: 10px;
    text-transform: uppercase;
    color: #4572ED;
}

.link{
    font-size: 10px;
    text-transform: uppercase;
    color: #4572ED;
}


